@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.card-container {
    padding:15px;
    border: 1px solid white;
    border-radius: 3px;
    color:aliceblue;
    min-width: 100px;
    max-height: 2000px;
    margin: 30px 5px 30px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.pokemon-name {
    display: inline;
}

.card-container:hover{
    transition: .5s;
    background-color:aliceblue;
    color: #ca215a;
    font-weight: bold;
}