<div class="header-container">
    <div 
    class="circle" 
    style="background:#01dbff; height:100px; width: 100px; border: 8px solid aliceblue;"></div>
    <div 
    class="circle" 
    style="background:#fd1a55; height:30px; width: 30px;"></div>
    <div 
    class="circle" 
    style="background:#f9ee60; height:30px; width: 30px;"></div>
    <div 
    class="circle" 
    style="background:#30f454;; height:30px; width: 30px;"></div>
    <h1 class="title">P O K E D E X</h1>
    <div class="pokedex-border"></div>
</div>
