@import '../../../assets/styles/colors';

.home-container {
    background-color: $redish-pink;
    & mat-paginator {
        background-color: $redish-pink;
        color: $grayish-white;
    }
}

.card-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container span {
    margin: 20px;
    color: white;
    font-size: 30px;
}