<div class="home-container">
    <app-header></app-header>

    <app-search-bar (searchedResults)="handlePokemonSearchedResults($event)"></app-search-bar>


    <div class="card-container">
        <app-pokemon-card 
            *ngFor="let pokemon of (pokemonList$ | async).slice(0,9)" 
            [pokedex]="pokemon" 
            (onPokemonClick)="handlePokemonClick($event)"
        >
        </app-pokemon-card>
        <span *ngIf="pokemonList$.value.length === 0"> Não foi encontrado nenhum pokemón! </span>
    </div>
</div>
