/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ddd;
    font-family: 'Montserrat';
}

.mat-icon {
    vertical-align: middle;
}